<head>
	<style type="text/css">
		.newGuestWelfare img{
			width: 100%;
			vertical-align: middle;
		}
	</style>
	
</head>
<link rel="stylesheet" href="resource/css/activies.css" type="text/css">
<div ng-include="'templates/layout/top.html'"></div>
<div class="newGuestWelfare">
     <div class="Summer1">
     	<img src="resource/images/activity_new/images/Summer_01.jpg"/>
     </div>
     <div class="Summer2">
     	<img src="resource/images/activity_new/images/Summer_02.jpg"/>
     </div>
     <div class="Summer3">
     	<img src="resource/images/activity_new/images/Summer_03.jpg"/>
     </div>
     <div class="Summer4">
     	<img src="resource/images/activity_new/images/Summer_04.jpg"/>
     </div>
      <div class="Summer5">
      	<img src="resource/images/activity_new/images/Summer_05.jpg"/>
      </div>
       <div class="Summer6">
       	<img src="resource/images/activity_new/images/Summer_06.jpg"/>
       </div>
        <div class="Summer7">
        	<img src="resource/images/activity_new/images/Summer_07.jpg"/>
        </div>
       
     
</div>

<div ng-include="'templates/layout/bottom.html'"></div>

