.newGuestWelfare .newGuestWelfare1{
	width: 100%;
	height: 848px;
	background: url('../images/acticity/newGuestWelfare1.jpg') center center no-repeat;
}
.newGuestWelfare .newGuestWelfare2{
	width: 100%;
	height: 1023px;
	background: url('../images/acticity/newGuestWelfare2.jpg?v=1') center center no-repeat;
}
.newGuestWelfare .newGuestWelfare3{
	width: 100%;
	height: 792px;
	background: url('../images/acticity/newGuestWelfare3.jpg') center center no-repeat;
}
.newGuestWelfare .newGuestWelfare4{
	width: 100%;
	height: 537px;
	background: url('../images/acticity/newGuestWelfare4.jpg') center center no-repeat;
}



.newGuestWelfare .InviteFriend1{
	width: 100%;
	height: 1295px;
	background: url('../images/acticity/InviteFriend1.jpg') center center no-repeat;
}
.newGuestWelfare .InviteFriend2{
	width: 100%;
	height: 920px;
	background: url('../images/acticity/InviteFriend2.jpg') center center no-repeat;
}
.newGuestWelfare .InviteFriend3{
	width: 100%;
	height: 693px;
	background: url('../images/acticity/InviteFriend3.jpg') center center no-repeat;
}
.newGuestWelfare .InviteFriend4{
	width: 100%;
	height:812px;
	background: url('../images/acticity/InviteFriend4.jpg') center center no-repeat;
}



.newGuestWelfare .Engagement1{
	width: 100%;
	height: 778px;
	background: url('../images/acticity/yt1.jpg') center center no-repeat;
}
.newGuestWelfare .Engagement2{
	width: 100%;
	height: 366px;
	background: url('../images/acticity/yt2.jpg') center center no-repeat;
}
.newGuestWelfare .Engagement3{
	width: 100%;
	height: 578px;
	background: url('../images/acticity/yt3.jpg') center center no-repeat;
}


.newGuestWelfare .Continuous1{
	width: 100%;
	height: 604px;
	background: url('../images/acticity/xt1.jpg') center center no-repeat;
}
.newGuestWelfare .Continuous2{
	width: 100%;
	height: 327px;
	background: url('../images/acticity/xt2.jpg') center center no-repeat;
}
.newGuestWelfare .Continuous3{
	width: 100%;
	height: 781px;
	background: url('../images/acticity/xt3.jpg') center center no-repeat;
}

.newGuestWelfare .Continuous4{
	width: 100%;
	height: 697px;
	background: url('../images/acticity/xt4.jpg') center center no-repeat;
}




.newGuestWelfare .NewActive1{
	width: 100%;
	height: 602px;
	background: url('../images/acticity/NewActive1.jpg') center center no-repeat;
}
.newGuestWelfare .NewActive2{
	width: 100%;
	height: 810px;
	background: url('../images/acticity/NewActive2.jpg') center center no-repeat;
}
.newGuestWelfare .NewActive3{
	width: 100%;
	height: 707px;
	background: url('../images/acticity/NewActive3.jpg') center center no-repeat;
}

.newGuestWelfare .NewActive4{
	width: 100%;
	height: 799px;
	background: url('../images/acticity/NewActive4.jpg') center center no-repeat;
}
.newGuestWelfare .NewActive5{
	width: 100%;
	height:1277px;
	background: url('../images/acticity/NewActive5.jpg') center center no-repeat;
}
.newGuestWelfare .NewActive6{
	width: 100%;
	height:1148px;
	background: url('../images/acticity/NewActive6.jpg') center center no-repeat;
}




.newGuestWelfare .Summer1{
	width: 100%;
	/*height: 1218px;
	background: url('../images/activity_new/Summer1.jpg') center center no-repeat;*/
}
.newGuestWelfare .Summer2{
	width: 100%;
	/*height: 945px;
	background: url('../images/activity_new/Summer2.jpg') center center no-repeat;*/
}
.newGuestWelfare .Summer3{
	width: 100%;
	/*height:905px;
	background: url('../images/activity_new/Summer3.jpg') center center no-repeat;*/
}
.newGuestWelfare .Summer4{
	width: 100%;
	/*height: 967px;
	background: url('../images/activity_new/Summer4.jpg') center center no-repeat;*/
}
.newGuestWelfare .Summer5{
	width: 100%;
	/*height: 1669px;
	background: url('../images/activity_new/Summer5.jpg') center center no-repeat;*/
}
.newGuestWelfare .Summer6{
	width: 100%;
	/*height: 1206px;*/
	/*background: url('../images/activity_new/Summer6.jpg') center center no-repeat;*/
}

.newGuestWelfare .Summer7{
	width: 100%;
	/*height: 836px;
	background: url('../images/activity_new/Summer7.jpg') center center no-repeat;*/
}
