<link rel="stylesheet" href="resource/css/about.css" type="text/css">

<!--头部-->

<div ng-include="'templates/layout/top.html'"></div>

<!--头部结束-->

<div ng-cloak>
<div class="bannerDiv" ></div>
	<!--<div class="banner">
		<img class="banner_img" src="resource/images/about/banner.jpg">
	</div>-->
<div class="aboutContentBg">
	  <div class="aboutContent">
	  	   <div class="aboutData">
			   <div class="aboutLogoImg">
				   <img  src="resource/images/about/jianjie.png">
	  	   	    </div>
	  	   	    <div class="aboutDataConTop">
					<div class="aboutDataCon2">
						<p style="color:#323333;font-size:18px;line-height:36px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毕投金服隶属于杭州毕投互联网科技有限公司。杭州毕投互联网科技有限公司经杭州市工商局登记注册于2017年成立,注册资本5000万，目前公司办公地位于杭州拱墅区万达广场。<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毕投金服顺应全球电子商务未来发展的趋势,充分挖掘互联网市场潜力,通过建立一个安全、高效、诚信。为合作的金融机构提供更优质的底层资产，引导更多的金融资本进入实体经济；拓宽跨界合作渠道，为更多的理财用户提供更高质量的服务，为更多的投资用户实现资产的保值增值。旨在为个人投资者与融资方的借贷打造了一个快捷、便利的渠道,同时亦让投资者、融资方形成多赢的局面, 我们深信,这种依赖于现代网络创新技术,将民间借贷行为引入的模式,定会在阳光下得到更健康的发展,并实现利益最大化！<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;毕投金服严格遵守国家相关法律法规,并敦促其会员在信息发布和使用过程中严格遵守相关法规；同时,我们也将竭尽所能,不断完善对网站平台的管理,同时努力打造网站管理者、网站投资者联盟、政府相关部门 的多方监管的管理模式！
						</p>

					</div>
					<div class="aboutDataCon3">

					</div>

	  	   	    </div>
	  	   </div>
	  </div>
	<!--<div class="aboutDataBottom"></div>-->
	<div class="guanliBg">
	<div class="aboutContent">
		<div class="aboutData">
			<!--<div class="aboutDataTop">-->
			<!--</div>-->
			<div class="aboutLogoImg1">
				<img  src="resource/images/about/guanli.png">
			</div>
			<div class="aboutDataConx" >
				<div class="aboutDataCon1">
					<img src="../resource/images/about/person1.png">
				</div>
				<div class="aboutDataCon4">
					<p class="personIntr" style="font-size:18px;">
						<span class="nameStyle" style="font-size:24px;color:#323333">吴佩红 <span style="font-size:18px;">&nbsp;&nbsp;&nbsp;董事长兼CEO</span> </span>
						<p style="font-size:18px;color:#323333;line-height:36px;width:657px;">吴佩红女士曾在金融公司任职高管，多年工作经历使她养成了严谨的工作态度以及敏锐的市场洞察力，对公司运作具有优秀的运筹能力。加之其在投资领域的丰富经验以及互联网动态的精准把控，使她更好的带领毕投团队。



				</div>
			</div>
		</div>
	</div>
	<div class="aboutContent">
		<div class="aboutData">
			<div class="aboutDataCon">

				<div class="aboutDataCon1">
					<img src="../resource/images/about/person4.png">
				</div>
				<div class="aboutDataCon4">
					<p class="personIntr" style="font-size:18px;">
						<span class="nameStyle" style="font-size:24px;color:#323333">潘腾波 <span style="font-size:18px;">&nbsp;&nbsp;&nbsp;风控总监</span></span>
					<p style="font-size:18px;color:#323333;width:657px;line-height:32px">从事互联网金融行业多年，具有丰富的创业投资行业的从业经验，专注于行业研究分析与风险评估把控。思维严谨；投资、沟通能力良好，以及优秀的时间管理合组织能力。
					</p>

					</p>

				</div>
			</div>
		</div>
	</div>
	<div class="aboutContent">
		<div class="aboutData">
			<div class="aboutDataCon">

					<div class="aboutDataCon1">
						<img src="../resource/images/about/person2.jpg">
					</div>
					<div class="aboutDataCon4">
						<p class="personIntr" style="font-size:18px;">
							<span class="nameStyle" style="font-size:24px;color:#323333;line-height:32px">叶秀娣 <span style="font-size:18px;">&nbsp;&nbsp;&nbsp;行政经理</span> </span>
						<p style="font-size:18px;color:#323333;line-height:32px;width:657px;">作为女性民营企业家在宁波商界打拼多年，曾创立的企业涉猎电器、文具等行业。沉稳的经营方式，求实的工作步调，老练的经商经验，叶秀娣用接地气的方式透视企业借贷的初衷与个中风险程度。
						</p>

						</p>

					</div>
		</div>
	</div>
	</div>
	<div class="aboutContent">
		<div class="aboutData">
			<div class="aboutDataCon">

				<div class="aboutDataCon1">
					<img src="../resource/images/about/person3.jpg">
				</div>
				<div class="aboutDataCon4">
					<p class="personIntr" style="font-size:18px;">
						<span class="nameStyle" style="font-size:24px;color:#323333">崔和芬 <span style="font-size:18px;">&nbsp;&nbsp;&nbsp;运营经理</span></span>
					<p style="font-size:18px;color:#323333;width:657px;line-height:32px">女性民营企业家，跨足不同领域，之前经营餐饮服务，也置办过电器、工艺品等制造生产企业，17年开始经营互联网金融业务，为优秀的企业撮合互联网融资交易。
					</p>

					</p>

				</div>
			</div>
		</div>
	</div>
	
	</div>
	<div class="aboutContentx" >
		<div class="aboutData" >
			
				<img  src="resource/images/about/rongyu.png">

			

			<div class="honor-box clearfix">
	             <img src="resource/images/about/kaihu.jpg" class="fl honor1" alt="">
	             <img src="resource/images/about/xkz.jpg" class="fl honor2" alt="">
        	 </div>

        	 <div class="honor-box clearfix">
	             <img src="resource/images/about/rzq.jpg" class="fl honor3" alt="">
	             <img src="resource/images/about/yinye.jpg" class="fl honor4" alt="">
        	 </div>
        	 <div class="honor-box clearfix">
	             <img src="resource/images/about/yzbg.jpg" class="fl honor3" alt="">
	             <img src="resource/images/about/gz.jpg" class="fl honor4" alt="">
        	 </div>
		</div>
	</div>
	<!--<div class="aboutContent" style="margin-top:-25px;">-->
		<!--<div class="aboutData">-->
			<!--<div class="aboutDataTop"><span style="font-size:30px;color:#323333;">公司环境</span>-->
			<!--</div>-->
<!--&lt;!&ndash;<div id="bigDiv"  style="width:500px;height:400px;border:1px solid #afa; display:none;">&ndash;&gt;-->
				<!--&lt;!&ndash;<td><p><img src="resource/images/about/divImg1.jpg" id="p1"></p></td></div>&ndash;&gt;-->
			<!--&lt;!&ndash;<div id="bigDiv1"  style="width:500px;height:400px;border:1px solid #afa; display:none;">&ndash;&gt;-->
				<!--&lt;!&ndash;<td><p><img src="resource/images/about/divImg2.jpg" id="p2" style="width:500px;height:400px;border:1px solid #afa; display:none;"></p></td></div>&ndash;&gt;-->
				<!--&lt;!&ndash;<td><p><img src="resource/images/about/divImg3.jpg" id="p3" style="width:500px;height:400px;border:1px solid #afa; display:none;"></p></td>&ndash;&gt;-->

			<!--&lt;!&ndash;下面是向左滚动代码&ndash;&gt;-->
			<!--&lt;!&ndash;下面是向左滚动代码&ndash;&gt;-->
			<!--&lt;!&ndash;<div id="colee_left" class="coleeLeft">&ndash;&gt;-->
				<!--&lt;!&ndash;<table cellpadding="0" cellspacing="0" border="0">&ndash;&gt;-->
					<!--&lt;!&ndash;<tr><td id="colee_left1" valign="top" align="center">&ndash;&gt;-->
						<!--&lt;!&ndash;<table cellpadding="2" cellspacing="0" border="0">&ndash;&gt;-->
							<!--&lt;!&ndash;<tr align="center">&ndash;&gt;-->
								<!--&lt;!&ndash;<td><p><img src="resource/images/about/1.jpg"></p></td>&ndash;&gt;-->
								<!--&lt;!&ndash;<td><p><img src="resource/images/about/2.jpg"></p></td>&ndash;&gt;-->
								<!--&lt;!&ndash;<td><p><img src="resource/images/about/3.jpg"></p></td>&ndash;&gt;-->
								<!--&lt;!&ndash;<td><p><img src="resource/images/about/4.jpg"></p></td>&ndash;&gt;-->
								<!--&lt;!&ndash;<td><p><img src="resource/images/about/5.jpg"></p></td>&ndash;&gt;-->
								<!--&lt;!&ndash;<td><p><img src="resource/images/about/6.jpg"></p></td>&ndash;&gt;-->
								<!--&lt;!&ndash;<td><p><img src="resource/images/about/7.jpg"></p></td>&ndash;&gt;-->
							<!--&lt;!&ndash;</tr>&ndash;&gt;-->
						<!--&lt;!&ndash;</table>&ndash;&gt;-->
					<!--&lt;!&ndash;</td>&ndash;&gt;-->
						<!--&lt;!&ndash;<td id="colee_left2" valign="top"></td>&ndash;&gt;-->
					<!--&lt;!&ndash;</tr>&ndash;&gt;-->
				<!--&lt;!&ndash;</table>&ndash;&gt;-->
			<!--&lt;!&ndash;</div>&ndash;&gt;-->

			<!--<div id=demo  align=center class="coleeLeftx" >-->
				<!--<table border=0 align=center cellpadding=0 cellspacing=0 cellspace=0 >-->
					<!--<tr>-->
						<!--<td valign=top id=marquePic1>-->
							<!--<table cellspacing="15" cellpadding="0" >-->
								<!--<tr>-->
									<!--<td  align="center"><a href=""> <img src="resource/images/about/1.jpg" style="width:320px; height:240px;" /></a></td>-->
									<!--<td  align="center"><a href=""> <img src="resource/images/about/2.jpg" style="width:320px; height:240px;" /></a></td>-->
									<!--<td  align="center"><a href=""> <img src="resource/images/about/3.jpg" style="width:320px; height:240px;" /></a></td>-->
									<!--<td  align="center"><a href=""> <img src="resource/images/about/4.jpg" style="width:320px; height:240px;" /></a></td>-->
									<!--<td  align="center"><a href=""> <img src="resource/images/about/5.jpg" style="width:320px; height:240px;" /></a></td>-->
									<!--<td  align="center"><a href=""> <img src="resource/images/about/6.jpg" style="width:320px; height:240px;" /></a></td>-->
									<!--<td  align="center"><a href=""> <img src="resource/images/about/7.jpg" style="width:320px; height:240px;" /></a></td>-->
								<!--</tr>-->
							<!--</table>-->
						<!--</td>-->
						<!--<td id=marquePic2 valign=top></td>-->
					<!--</tr>-->
				<!--</table>-->
			<!--</div>-->



		<!--</div>-->
	<!--</div>-->

</div>




    <!--var speed=20//速度数值越大速度越慢-->
    <!--var colee_left2=document.getElementById("colee_left2");-->
    <!--var colee_left1=document.getElementById("colee_left1");-->
    <!--var colee_left=document.getElementById("colee_left");-->
    <!--var img=document.getElementsByTagName("img");-->
    <!--colee_left2.innerHTML=colee_left1.innerHTML-->
    <!--function Marquee3(){-->
        <!--if(colee_left2.offsetWidth-colee_left.scrollLeft<=0)//offsetWidth 是对象的可见宽度-->
           <!--colee_left.scrollLeft-=colee_left1.offsetWidth//scrollWidth 是对象的实际内容的宽，不包边线宽度-->
        <!--else{-->
            <!--colee_left.scrollLeft++-->
        <!--}-->
    <!--}-->
    <!--var MyMar3=setInterval(Marquee3,speed);-->
    <!--for(i=0;i<img.length;i++){-->
        <!--img[i].onmouseover=function() {clearInterval(MyMar3)};-->
        <!--img[i].onmouseout=function() {MyMar3=setInterval(Marquee3,speed)}-->
    <!--}-->





	<!--<SCRIPT type=text/javascript>-->
		<!--var demo = document.getElementById("demo");-->
        <!--var marquePic2 = document.getElementById("marquePic2");-->
        <!--var marquePic1 = document.getElementById("marquePic1");-->
        <!--var speed=20;-->
        <!--marquePic2.innerHTML=marquePic1.innerHTML;-->
        <!--function Marquee(){-->
            <!--if(demo.scrollLeft>=marquePic1.scrollWidth){-->
                <!--demo.scrollLeft=0-->
            <!--}else{-->
                <!--demo.scrollLeft++-->
            <!--}-->
        <!--}-->
        <!--var MyMar=setInterval(Marquee,speed);-->
        <!--demo.onmouseover=function() {clearInterval(MyMar)};-->
        <!--demo.onmouseout=function() {MyMar=setInterval(Marquee,speed)}-->
	<!--</SCRIPT>-->






	<div ng-include="'templates/layout/bottom.html'"></div>
</div>
