<link rel="stylesheet" href="resource/css/safeEnsure.css" type="text/css">
<div ng-include="'templates/layout/top.html'"></div>
<!--<div class="banner">
    <img class="banner_img" src="resource/images/safeEnsure/banner1.jpg">
</div>-->
<div class="safeEnsure">
     <div class="divwrap">
     	  <ul>
     	  	<li >
     	  		 <div class="divLi">
     	  		 	   <div class="divText1 divText wow bounceInLeft">
     	  		 	   	   <h2>全面评估</h2>
     	  		 	   	   <p>
     	  		 	   	   	对借款人的借款用途、经营状况、发展预期和还款能力等综合评估，只有收益和安全俱全的项目，才会发布到平台供投资人选择。
     	  		 	   	   </p>
     	  		 	   </div>
     	  		 	   <div class="divImg1 wow bounceInRight">
     	  		 	   	<img src="resource/images/safeEnsure/divImg1.png"> 	      
     	  		 	   </div>
     	  		 </div>
     	  	</li>
     	  	<li class="licolor">
     	  		 <div class="divLi">
     	  		 	   <div class="divText2 divText wow bounceInLeft">
     	  		 	   	   <h2>专业法律人员支持</h2>
     	  		 	   	   <p>
     	  		 	   	   聘请浙江浙经律师事务所担任公司的常年法律顾问，审查业务合同的合规性、评估金融产品的风险，并向公司日常的营运工作提供法律支持。
     	  		 	   	   </p>
     	  		 	   </div>
     	  		 	   <div class="divImg2 wow bounceInRight">
     	  		 	   	<img src="resource/images/safeEnsure/divImg2.png"> 	      
     	  		 	   </div>
     	  		 </div>
     	  	</li>
     	  	<li>
     	  		 <div class="divLi">
     	  		 	   <div class="divText1 divText wow bounceInLeft">
     	  		 	   	   <h2>接洽银行存管</h2>
     	  		 	   	   <p>
     	  		 	   	   	为保障平台合规性，平台目前正与浙江本地银行对接银行存管工作，将尽快完成存管工作，上线银行资金存管系统，真正做到平台与资金的隔离，银行监管交易全流程，为投资人创造更加安全放心的投资环境，最大程度保护投资人利益。
     	  		 	   	   </p>
     	  		 	   </div>
     	  		 	   <div class="divImg1 wow bounceInRight">
     	  		 	   	<img src="resource/images/safeEnsure/divImg3.png"> 	      
     	  		 	   </div>
     	  		 </div>
     	  	</li>
     	  	<li class="licolor">
     	  		 <div class="divLi">
     	  		 	   <div class="divText2 divText wow bounceInLeft">
     	  		 	   	   <h2>开通第三方支付通道</h2>
     	  		 	   	   <p>
     	  		 	   	 与上海富友支付有限公司签订第三方综合支付服务协议，为平台提供交易所需的支付服务，交易流程公开透明，每个业务记录皆可查询。另外，安全服务提供高质量的网络传输加密通道，并及时将付款及验证结果的确认信息反馈给平台。
     	  		 	   	   </p>
     	  		 	   </div>
     	  		 	   <div class="divImg2 wow bounceInRight">
     	  		 	   	<img src="resource/images/safeEnsure/divImg4.png"> 	      
     	  		 	   </div>
     	  		 </div>
     	  	</li>
     	  		<li >
     	  		 <div class="divLi">
     	  		 	   <div class="divText1 divText wow bounceInLeft">
     	  		 	   	   <h2>取现仅限本人银行卡</h2>
     	  		 	   	   <p>
     	  		 	平台对每位投资人进行手机号、身份证、银行卡的实名认证，在投资人取现时仅限本人注册时绑定的银行卡。
     	  		 	   	   </p>
     	  		 	   </div>
     	  		 	   <div class="divImg1 wow bounceInRight">
     	  		 	   	<img src="resource/images/safeEnsure/divImg5.png"> 	      
     	  		 	   </div>
     	  		 </div>
     	  	</li>
     	  	<li class="licolor">
     	  		 <div class="divLi">
     	  		 	   <div class="divText2 divText wow bounceInLeft">
     	  		 	   	   <h2>用户信息隐私安全</h2>
     	  		 	   	   <p>
     	  		 	   	 自备严格的操作规范，对于用户注册购买时提交的信息，从流程上确保隐私不被泄露。在与第三方机构合作的过程中，要求保护用户的隐私，且非经用户同意或行政、司法等相关部门要求，平台不会将用户隐私信息泄露给他方。
     	  		 	   	   </p>
     	  		 	   </div>
     	  		 	   <div class="divImg2 wow bounceInRight">
     	  		 	   	<img src="resource/images/safeEnsure/divImg6.png"> 	      
     	  		 	   </div>
     	  		 </div>
     	  	</li>
     	  	<li >
     	  		 <div class="divLi">
     	  		 	   <div class="divText1 divText wow bounceInLeft">
     	  		 	   	   <h2>技术保障系统安全</h2>
     	  		 	   	   <p>
     	  		 	①	顶尖的互联网技术团队为系统开发保驾护航，保障平台系统安全；<br>
②	国内顶尖阿里云云盾服务保障网络服务器安全；<br>
③	SSL信息安全技术确保信息存储和传输安全；
     	  		 	   	   </p>
     	  		 	   </div>
     	  		 	   <div class="divImg1 wow bounceInRight">
     	  		 	   	<img src="resource/images/safeEnsure/divImg7.png"> 	      
     	  		 	   </div>
     	  		 </div>
     	  	</li>
     	  </ul> 
     </div>
     <!--<div class="divBtn">
     	<a href="/investment">开始理财</a>
     </div>-->
</div>
<div ng-include="'templates/layout/bottom.html'"></div>

<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		new WOW().init();
	};
</script>